JAXB-XSD-Introduction/src/com/cfn/xsds/FirstXsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/FirstXsd" xmlns:tns="http://www.example.org/FirstXsd"
	elementFormDefault="qualified">
	<xs:element name="employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="eid" type="xs:int" />
				<xs:element name="ename" type="xs:string" />
				<xs:element name="esal" type="xs:double" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>